/* Overflow menu style */
.shaka-overflow-menu {
    background-color: rgb(41, 41, 163);
    color: rgb(153, 153, 153);
}

.shaka-overflow-menu button:hover {
    background-color: rgb(45, 45, 45);
}

.shaka-overflow-button-label {
    color: rgb(245, 245, 245);
}

.shaka-current-selection-span {
    color: rgb(202, 202, 202);
}

.material-icons-round {
    color: rgb(230, 230, 230);
}

/* Overflow sub menu style */
.shaka-settings-menu {
    background-color: rgb(35, 35, 35);
    color: rgb(255, 255, 255);
}

.shaka-settings-menu button {
    color: rgb(255, 255, 255);
}

.shaka-settings-menu button:hover {
    background-color: rgb(45, 45, 45);
}

/* Page background */
body {
    background-color: black;
    margin: 0;
}

/* Video container */
.shaka-video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: none;
}

/* Seek and volume bars */
.shaka-seek-bar-container {
    background: rgba(41, 41, 163, 0.7) !important;
}

.shaka-volume-bar .shaka-bar-container {
    background: rgba(63, 187, 1, 1) !important;
}

.shaka-seek-bar .shaka-bar-container .shaka-played-area {
    background: rgba(63, 187, 1, 1) !important;
}

/* Control panel */
.shaka-controls-container {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 10px;
}

/* Fullscreen mode */
.shaka-fullscreen {
    width: 100vw !important;
    height: 100vh !important;
}
